/**********************************************************************************************************
*
* 公共样式
*
**********************************************************************************************************/
/*****************************************************
*
* 主框架样式 
*
*****************************************************/
html,
ui,li {
    list-style: none;
}
a { text-decoration: none; color: inherit; }
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 81px 0 60px;
    background-color: #F2F2F2;
}

.wrap > .container {
    width: 1200px;
    /*padding: 70px 0 20px;*/
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
/*****************************************************
*
* 导航头部样式
*
*****************************************************/
.nav{
    height: 80px;
}
/* 导航按钮样式 */
.nav li{
    padding-top: 25px;      
}
.nav li a{
    color: #666666;
    font-size: 16px;
}
.nav li a:hover{
    color: #FC583D;
    background-color: #f8f8f8; /* 调整hover底色与navbar-vk 底色一样，达到去除底色功能 */
}
.nav li.active a{
    color: #FC583D;
}
/* 搜索框 */
.nav .search-box{
    float: left;
    position: relative;
    margin: 0px 20px;
}
.nav .search-box .search-input{
    height: 40px;
    border: 1px solid #ccc;
    padding: 0px 32px 0 5px;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
    width: 0px;
    opacity: 0;
}
.nav .search-box .active{
    width: 210px;
    opacity: 1;
}
.nav .search-box .search-icon{
    font-size: 22px;
    color: #999999;
    cursor: pointer;
}
.nav .search-box i{
    position: absolute;
    top:10px;
    right:10px;
    color: #ccc;
}
/* 额外设置 logout 高度 */
.nav li.logout{
    padding-top: 0px;
}
/* 自定义导航样式 */
.navbar-vk {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}
/* LOGO样式 */
.navbar-brand {
    height: 80px;
    padding: 0px;
}

/*****************************************************
*
* 页底样式 
*
*****************************************************/
.footer {
    
}
.footer .contacts-box{
    background-color: #303131;
    padding-bottom: 36px;
}
.footer .contacts-box .icon{
    background: url(../imgs/logo-icon.png) no-repeat;
    display: inline-block;
    width: 30px;
    height: 30px;
    float: left;
}
.footer .contacts-box .icon-phone{background-position: 0 -70px}
.footer .contacts-box .icon-qq{background-position: 0 -105px}
.footer .contacts-box .contacts-content{
    padding: 0px;
    height: 158px;
    padding-top: 36px;
    font-size: 14px;
    color: #ffffff;
}
.footer .contacts-box .contacts-content ul{
    float: left;
    padding: 0;
    margin-right: 80px;
}
.footer .contacts-box .contacts-content li a:hover{
    color: inherit;
}
.footer .contacts-box .contacts-content .contacts-left{
    margin-bottom: 14px;
}
/* 右边客服 */
.footer .contacts-box .contacts-content .contacts-right-box{
    float: right;
    padding: 0;
    margin-right: 0px;
}
.footer .contacts-box .contacts-content .contacts-right-box .title{
    font-weight: bold;
    margin-left: 40px;
}
.footer .contacts-box .contacts-content .contacts-right-box .time{
    color: #999999;
    font-size: 12px;
    margin-left: 40px;
}
/* 版权 */
.footer .copy-right-box{
    background-color: #2b2c2c;
}
.footer .copy-right-content{
    padding: 26px 0 16px 0;
    color: #646464;
    font-size: 12px;
}

/***************************************************************
*
* 按钮样式
*
***************************************************************/
/* 正常大小 */
.btn{
    border-radius: 0px;
}
/* 小 */
.btn-sm{
    line-height: 23px;
    padding: 2px 10px;
}
/* 扁平 */
.btn-flat{
    line-height: 23px;
    padding: 5px 23px;
}
/* 更扁平 */
.btn-flat-sm{
    line-height: 22px;
    padding: 3px 23px;
}
/* 危险 */
.btn-highlight { 
    color: #fff; 
    background-color: #FC583D; 
    border-color: #FC583D; 
}
.btn-highlight:hover, .btn-highlight:active:hover, .btn-highlight:focus, .btn-highlight:active, .btn-highlight:active:focus, .btn-highlight.active  { 
    color: #fff; 
    background-color: #ff725b; 
    border-color: #ff725b; 
}
/* 一般信息 */
.btn-info { 
    color: #fff; 
    background-color: #5BC0DE; 
    border-color: #5BC0DE; 
}
.btn-info:hover,.btn-info:active:hover, .btn-info:focus, .btn-info:active, .btn-info:active:focus, .btn-info.active { 
    color: #fff; 
    background-color: #7ACDE4; 
    border-color: #7ACDE4; 
}

/* 成功 */
.btn-success { 
    color: #fff; 
    background-color: #28B28B; 
    border-color: #28B28B; 
}
.btn-success:hover,.btn-success:active:hover, .btn-success:focus, .btn-success:active, .btn-success:active:focus, .btn-success.active { 
    color: #fff; 
    background-color: #2CC098; 
    border-color: #2CC098; 
}

/*****************************************************
*
* 进度条
*
*****************************************************/
.progress{
    height: 15px;
    margin-bottom: 0;
    background-color: #DEDEDE;
    border-radius: 0px;
}
.progress-bar-success{
    background-color: #28B28B; 
}


/*****************************************************
*
* 公共样式
*
*****************************************************/
/** 设置单行显示省略号 */
.single-clamp {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/** 设置多行显示省略号 */
.multi-line-clamp {
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display:-webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
/* loading 样式 */
.loading{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('../imgs/loading.gif');
}

/* 清除浮动 */
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
    overflow:hidden;
}
.clearfix {
    zoom:1; /* IE < 8 */
}