/* 
    前台注册页样式
    Created on : 2018-6-26, 10:45:01
    Author     : 刘文俊
*/
/************************************注册页样式*********************************/
@media (min-height: 800px){
    .site-signup {
        height: 930px;
    }
}
@media (max-height: 800px){
    .site-signup {
        height: 650px;
    }
}
.site-signup {
    padding-top: 50px;
    background-color: #fff;
}

/*basic reset*/
* {margin: 0; padding: 0;}

/*form styles*/
.site-signup #msform {
    width: 700px;
    margin: 0px auto;
    text-align: center;
    position: relative;
}

/*progressbar*/
.site-signup #msform #progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
.site-signup #msform #progressbar li {
    list-style-type: none;
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
    width: 24.9%;
    float: left;
    position: relative;
}
.site-signup #msform #progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: #eee;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}
/*progressbar connectors*/
.site-signup #msform #progressbar li:after {
    content: '';
    width: 88%;
    height: 2px;
    background-color: #eee;
    position: absolute;
    left: -44%;
    top: 9px;
    z-index: 0; /*put it behind the numbers*/
}
.site-signup #msform #progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
.site-signup #msform #progressbar li.active:before,
.site-signup #msform #progressbar li.active:after{
    background: #27AE60;
    color: white;
}

.site-signup #msform fieldset {
    background: white;
    border: 0 none;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
    padding: 10px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    /*stacking fieldsets above each other*/
    position: absolute;
}

.site-signup .form-group input {
    height: 40px;
}

.site-signup .form-group .help-block {
    float: left;
}

.site-signup .form-group {
    height: 75px;
    margin-bottom: 0px;
}

.site-signup #customer {
    height: 15px;
    bottom: 92px;
    color: #3d3d3d;
    position: absolute;
}

/*Hide all except first fieldset*/
.site-signup #msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
.site-signup #msform input, .site-signup #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}
/*buttons*/
.site-signup #msform .action-button {
    width: 100px;
    background: #27AE60;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 5px 5px;
}

/*headings*/
.site-signup #msform .fs-title {
    font-size: 16px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}
.site-signup #msform .fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

.site-signup #msform .icon-y{
    position: absolute;
    top: 15px;
    right: 20px;
    color: #5cb85c;
}

.site-signup #msform .icon-n{
    position: absolute;
    top: 15px;
    right: 20px;
    color: #d9534f;
}

.site-signup .third {
    margin-top: 20px;
    margin-bottom: 10px;
}

.site-signup .third .third-login {
    margin-right: 20px;
    color: #666666;
}
.site-signup .third .third-login, .third-content{
    display: inline-block;
}

.site-signup .third .third-content {
    text-align: center;
    vertical-align: middle
}

.site-signup .third .third-content a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.site-signup .third .third-content .wechat,
.site-signup .third .third-content .weibo,
.site-signup .third .third-content .qq {
    width: 28px;
    height: 28px;
    margin-right: 14px;
    display: inline-block;
    background-color: #ddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 14px;
    border-radius: 50%;
}

.site-signup .third .third-content .wechat {
    background-image: url("/imgs/site/wechat.png");
}

.site-signup .third .third-content .wechat:hover {
    background-color: #58bc46;
}

.site-signup .third .third-content .weibo {
    background-image: url("/imgs/site/weibo.png");
}

.site-signup .third .third-content .weibo:hover {
    background-color: #e90e24;
}

.site-signup .third .third-content .qq {
    background-image: url("/imgs/site/qq.png");
    margin-right: 0px;
}

.site-signup .third .third-content .qq:hover {
    background-color: #3caae3;
}