/************************************注册页样式*********************************/
.site-signup .vkonline {
    width: 100%;
    min-height: 914px;
    background-size: cover;
    background-position: center 0;
    background-repeat: no-repeat;
    background-color: #ebebeb;
}

@media (max-width: 480px) {
    .site-signup .vkonline .signup-title{
        width: 360px;
    }
    
    .site-signup .vkonline .platform {
        width: 350px;
    }
}
@media (min-width: 700px) {
    .site-signup .vkonline .signup-title{
        width: 660px;
    }
    
    .site-signup .vkonline .platform {
        width: 650px;
    }
}
.site-signup .vkonline .signup-title {
    position: relative;
    top: 170px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    color: #ffffff;
    background-color: #448cca;
    z-index: 1;
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.349019607843137);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.349019607843137);
}

.site-signup .vkonline .platform {
    padding: 10px;
    background-color: #ffffff;
    position: relative;
    top: 170px;
}

.site-signup .vkonline .platform1 {
    height: 420px;
}

.site-signup .vkonline .platform2 {
    height: 500px;
}

.site-signup .vkonline .control-label{
    font-size: 0px;
}

#form-signup{
    margin-top: -18px;
}

.site-signup .vkonline #user-customer_id {
    border-color: #ccc;
}

.site-signup .vkonline #customer {
    height: 15px;
    margin-left: 5px;
    color: #3d3d3d;
}

.icon-y{
    position:  absolute;
    top: 40px;
    right: 20px;
    color: #5cb85c;
}

.icon-n{
    position:  absolute;
    top: 40px;
    right: 20px;
    color: #d9534f;
}

.site-signup .vkonline .form-group{
    margin-bottom: 0px;
    height: 62px;
}

.site-signup .vkonline .platform .btn-signup{
    margin-top: 40px;
    height: 34px;
    text-align: center;
}

.site-signup .vkonline .platform .signup-button{
    width: 250px;
    border-radius: 0px;
}

.site-signup .vkonline .row input{
    border-radius: 0px;
}

/************************************登录页样式*********************************/
.site-login .vkonline {
    width: 100%;
    min-height: 914px;
    background-size: cover;
    background-position: center 0;
    background-repeat: no-repeat;
    background-color: #ebebeb;
}

.site-login .vkonline .platform {
    width: 350px;
    height: 480px;
    padding: 10px;
    background-color: #ffffff;
    position: relative;
    top: 170px;
    font-size: 0px;
}

.site-login .vkonline .platform .logo {
    width: 330px;
    height: 149px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.site-login .vkonline .platform .name {
    height: auto;
    text-align: left;
    margin-left: 15px;
    float: left;
    display: inline-block;
    position: relative;
    top: 10px;
}

.site-login .vkonline .platform .frame {
    width: 100%;
    position: relative;
    font-size: 14px;
}

.site-login .vkonline .platform .frame .attr-name{
    height: 69px;
    margin-top: 21px;
    padding-right: 20px !important;
}

.site-login .vkonline .platform .frame .attr-pass{
    height: 69px;
    padding-right: 20px !important;
}

.site-login .vkonline .platform .frame .btn-primary, #loginform-username, #loginform-password{
    border-radius: 0px;
}

.site-login .vkonline .platform .frame .checkbox, .platform .frame .forget a{
    color: #999999;
    text-decoration: none;
}

.site-login .vkonline .platform .frame .forget {
    margin-top: 10px;
    text-align: right;
    right: 6px;
}

.site-login .vkonline .platform .frame .button{
    margin-top: 5px;
    padding-right: 20px !important;
}

.site-login .vkonline .platform .frame .btn-signup{
    text-align: center;
    margin-top: 20px;
}

.site-login .vkonline .platform .frame .btn-signup a{
    text-decoration: none;
}

/************************************平台首页************************************/
.site-index {
    
}

.site-index .banner {
    position: relative;
    height:400px;
}

.site-index .banner .carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.site-index .carousel .item {
    /*height: calc(75vh - 130px);*/
    height: 400px;
}

/***********************轮播*****************************/
.site-index .carousel .item >  img,
.site-index .carousel .item > video {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/***************************************************************
* 页面公共
***************************************************************/
.site-index .title{
    margin: 20px 0;
    font-size: 16px;
}

.site-index .container{
    padding: 0 0;
}

.site-index hr {
    border-top: 1px solid #dedede;
}


/***************************************************************
* 为你推荐
***************************************************************/
.site-index .recommend {
    margin: 60px 0 40px 0;
}

.site-index .recommend .next{
    font-size: 14px;
    color: #999;
    float: right;
}

/***************************************************************
* 排行榜
***************************************************************/
.site-index .rank {
    display: inline-block;
    margin-bottom: 20px;
}
.site-index .rank .list{
    width: 880px;
}

/***************************************************************
* 热搜
***************************************************************/
.site-index .hot-search{
    display: inline-block;
    width: 280px;
    float: right;
}
.site-index .hot-search .list{
}
.site-index .hot-search a{
    font-size: 12px;
    color: #666666;
}
.site-index .hot-search .list span{
    color: #999999;
}
.site-index .hot-search .list .tag{
    display: inline-block;
    margin: 0 3px 6px 0;
    padding: 6px;
    background-color: #fff;
}

/***************************************************************
* 入驻伙伴
***************************************************************/
.site-index .partner {
    display: inline-block;
    margin-bottom: 20px;
}
.site-index .partner .list{
}
.customer-item {
    display: inline-block;
    width: 218px;
    margin: 0 16px 30px 0;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.right-customer-item{
    margin: 0 0px 30px 0;
}
.customer-item img{
    width: 180px;
    height: 68px;
    margin-bottom: 20px;
}
.customer-item .name{
    font-size: 12px;
    color: #AAAAAA;
}

/***************************************************************
* 课程列表项
***************************************************************/
.course-tile {
    display: inline-block;
    width: 280px;
    margin: 0 12px 30px 0;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.right-course-tile{
    margin: 0 0px 30px 0;
}

/* 图片 */
.course-tile .pic-box {
    width: 280px;
    height: 210px;
}
.course-tile .pic-box img{
    width: 100%;
    height: 100%;
}
/* 名称 */
.course-tile .name-box {
    margin: 20px 10px;
    color: #666666;
    font-weight: bold;
}
.course-tile .name-box .nodes{
    float: right;
    color: #AAAAAA;
    font-weight: normal;
    font-size: 12px;
}

/* 标签 */
.course-tile .tag-box {
    margin: 10px 10px;
    color: #AAAAAA;
    font-size: 12px;
}
.course-tile .tag-box .tag{
    width: 100%;
    display: block;
}

/* 标签 */
.course-tile .customer-box {
    margin: 10px 10px;
    color: #339966;
    font-size: 12px;
}
.course-tile .customer-box .leaning{
    float: right;
    font-size: 12px;
}
/* 底部 */
.course-tile .foot-box {
    padding: 12px 10px;
    color: #999999;
    font-size: 12px;
    border-top: 1px dotted #DEDEDE;
}
.course-tile .foot-box .teacher-avatar{
    width: 24px;
    height: 24px;
    border-radius:12px
}
