/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-3-7, 13:50:08
    Author     : Vito
*/
/********* customer 样式 ***********/
.customer{
    height: 100%
}
.customer .frame {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    display: inline-block
}
.customer
.frame-title {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
    line-height: 33px;
    background-color: rgba(153, 153, 153, 1);
}
.customer
.frame-title .icon {
    float: left; 
    margin-top: 9px;
    margin-right: 5px;
}

.customer
.frame-title>span {
    display: block;
    float: left;
}

/** table表格th样式 */
.customer .viewdetail-th {
    color: #666666;
    width: 23%;
    font-weight: normal;
    text-align: right;
    min-width: 73px;
    vertical-align: middle;
}

/** table表格th-head样式 */
.customer .viewdetail-th-head {
    color: #000000;
    float: left;
    font-weight: bold;
}

.customer .table > thead:first-child > tr:first-child > th{
    text-align: center;
}

.customer .table > thead > tr > th, .table > tbody > tr > th, 
.table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
    padding: 8px 4px;
}

/********* customer-view样式 ***********/
/** table表格th样式 */
.customer-view .viewdetail-th {
    color: #666666;
    width: 23%;
    font-weight: normal;
    text-align: center;
    min-width: 73px;
    vertical-align: middle;
}

/** table表格th-head样式 */
.customer-view .viewdetail-th-head {
    color: #000000;
    float: left;
    font-weight: bold;
}

.customer-view .frame {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    display: inline-block;
}

.customer-view .frame-left {
    width: 40%;
    margin-bottom: 30px;
}

.customer-view .frame
.frame-content {
    padding: 10px 5px 0px 5px;
}

.customer-view .frame
.frame-title {
    padding: 12px 0px 28px 10px;
    color: #ffffff;
    line-height: 18px;
    background-color: rgba(153, 153, 153, 1);
}

.customer-view .frame
.frame-title .icon {
    float: left; 
    margin-top: 2px;
    margin-right: 5px;
}

.customer-view .frame
.frame-title>span {
    display: block;
    float: left;
}

.customer-view .frame
.frame-title>.framebtn {
    position: absolute;
    top: 16px;
    right: 15px;
}

/***************** 概况 ***************/
.frontend_admin-default-index .frame{
    margin-bottom: 30px;
}

.frontend_admin-default-index .map{
    width: 100%;
    height: 650px;
}

/************** 教师******************/
.teacher-index .teacher-search {
    height: 150px;
}

.teacher-index .teacher-search .search {
    margin-bottom: 20px;
    border-bottom: 1px solid #999999;
}

.teacher-index .teacher-search .search .form-group label{
    padding-top: 0px;
}

.teacher-index .teacher-search .search .form-group .label-name label{
    font-weight: normal;
    color: #999999;
    margin-right: 40px;
}

.teacher-index .teacher-list .teacher-content {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    text-align: center;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.349019607843137);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.349019607843137);
}

.teacher-index .teacher-list .teacher-content .teacher-img{
    margin: 20px 40px;
    width: 96px;
    height: 96px;
    border: 1px solid #dedede;
}

.teacher-index .teacher-list .teacher-content .fa-vimeo{
    position: relative;
    left: 33px;
    bottom: 47px;
    font-size: 30px;
    color: #ffcc01;
}

.teacher-index .teacher-list .teacher-content .fa-vimeo.certificate{
    color: rgba(255, 255, 255, 0);
}

.teacher-index .teacher-list .teacher-content .teacher-name {
    position: relative;
    font-size: 16px;
    color: #000000;
    bottom: 35px;
}

.teacher-index .teacher-list .teacher-content .teacher-level {
    position: relative;
    font-size: 13px;
    bottom: 25px;
    color: #cccccc;
}

.teacher-index .total-num {
    margin-top: 30px;
    color: #999999;
}

.customer .frame .certificate{
    position: relative;
    right: 35px;
    vertical-align: bottom;
}

/************** 申请认证******************/
.teacher-certificate-index .table > thead:first-child > tr:first-child > th {
    background-color: #f2f2f2;
}

.teacher-certificate-index .table-bordered>tbody>tr>td {
    text-align: center;
    background-color: #ffffff;
    vertical-align: middle;
}

