/*
    用于模块页面样式
*/
/* 
    创建时间 : 2018-5-10, 14:10:17
    更新时间 : 2018-5-15, 13:11:00;
*/

/*******************************************************************************
 * 公共部分
 *******************************************************************************/
.content{
    padding: 0 !important;
}
.main {
    display: inline-block;
    width: 100%;
    height: auto;
    margin-top: 40px;
}
.crumbs,
.list > ul > li,
.frame,
.teacher-view .teacher-des {
    background-color: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
/**
 * 加载
 */
.loading-box {
    width: 100%;
    padding: 20px;
    color: #999;
    text-align: center;
}
/**
 * 总结样式
 */
.summary {
    float: left;
    width: 100%;
    padding: 20px 10px 0;
    color: #999;
}
/**
 * 禁用样式
 */
.disabled {
    pointer-events: none;
    cursor: not-allowed;
    box-shadow: none;
    opacity: .65;
}
/**
 * 左浮动
 */
.keep-left {
   float: left !important;;
}
/**
 * 右浮动
 */
.keep-right {
   float: right !important;;
}
/**
 * 清除外边距
 */
.clear-margin {
    margin: 0 !important;
}
/**
 * 清除内边距
 */
.clear-padding {
    padding: 0 !important;
}
/**
 * 按钮
 */
.btn-tuip {
    display: block;
    padding: 4px 8px;
    margin-top: -10px;
    font-size: 14px;
    color: #fff;
}
/**
 * 成功
 */
.font-success {
    color: #339966;
}
.bg-success {
    background-color: #339966;
}
/**
 * 危险
 */
.font-warning {
    color: #ff3300;
    
}
.bg-warning {
    background-color: #ff3300;
}
/*******************************************************************************
 * 面包屑
 *******************************************************************************/
.crumbs {
    width: 100%;
    height: 60px;
    padding: 0 15px;
    margin-bottom: 15px;
    font-size: 16px;
    color: #666;
    line-height: 60px;
    border-bottom: 1px solid #f2f2f2;
}

.crumbs .btngroup {
    float: right;
}

.crumbs .btngroup > a {
   border-radius: 0;
}

/*******************************************************************************
 * 列表
 *******************************************************************************/
.list {
    display: inline-block;
    width: 100%;
    font-size: 0px;
}
.list > ul {
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: 0px;
}
.list > ul > li {
    float: left;
    width: 280px;
    margin-right: 21px;
    margin-bottom: 30px;
    font-size: 14px;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.list > ul > li.hover {
    -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
    -webkit-transform: translate3d(0, -2px, 0);
    -moz-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}
.list > ul > li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.list > ul > li .tuip {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    font-size: 12px;
    color: #aaa;
    font-weight: normal;
}
.list > ul > li .avatars {
    width: 25px;
    height: 25px;
    margin: 12px 5px;
    margin-left: 0;
    line-height: 0;
    background-color: #26bfcd;
}
.list > ul > li .pic {
    position: relative;
    width: 100%;
    height: 210px;
    background-color: #26bfcd; 
}
.list > ul > li .pic .icon {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1022;
    font-size: 18px;
    border-color: rgba(0, 0, 0, 0.5);
    border-width: 14px;
    border-style: solid;
    display: none;
}
.list > ul > li .pic .icon > i {
    position: absolute;
    top: -9px;
    left: -6px;
    color: #fff;
}
.list > ul > li .pic .title {
    display: table-cell;
    height: 210px;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
}
.list > ul > li .pic .duration {
    position: absolute;
    bottom: 2px;
    right: 2px;
    height: 20px;
    padding: 0 5px;
    color: #fff;
    text-align: center;
    line-height: 20px;
    background-color: rgba(0, 0, 0, .7);
}
.list > ul > li .text {
    width: 100%;
    padding: 0 10px 15px;
    border-bottom: dashed 1px #dedede;
}
.list > ul > li .text .title {
    display: block;
    font-size: 14px;
    color: #666;
    font-weight: bold;
}
.list > ul > li .text .title-size {
    display: inline-block;
    width: 200px;
}
.list > ul > li .teacher {
    height: 50px;
    margin: 0 10px;
    line-height: 50px;
}
.list > ul > li .teacher .tuip {
    margin-top: 0;
}

/*******************************************************************************
 * 详情公共
 *******************************************************************************/
.frame {
    display: inline-block;
    width: 100%;
    margin: 30px 0 15px;
}

.frame .title {
    height: 60px;
    padding: 0 15px;
    font-size: 16px;
    color: #878787;
    text-align: left;
    line-height: 60px;
    border-bottom: 1px solid #f2f2f2;
}
/*******************************************************************************
 * 老师公共部分
 *******************************************************************************/
.teacher-search .list .avatars,
.teacher-view .avatars {
    position: relative;
    display: inline-block;
    padding: 2px;
    margin: 20px 0 0;
    background-color: #f2f2f2 !important;
}

.teacher-search .list .avatars > i,
.teacher-view .avatars > i {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 30px;
    color: #ffcc01;
}
/*******************************************************************************
 * 老师搜索
 *******************************************************************************/
.teacher-search .list {
    margin-top: 15px;
}

.teacher-search .list > ul > li {
    width: 200px;
    height: 203px;
    text-align: center;
    margin-right: 50px;
}

.teacher-search .list .text,
.teacher-view .keep-left .list .text {
    margin: 14px 0 0;
    text-align: center;
    font-size: 16px;
    color: #666;
    border: none;
}

.teacher-search .list .text .tuip,
.teacher-view .keep-left .list .text .tuip {
    width: auto;
    margin: 0;
    font-size: 14px;
    color: #ccc;
}

.teacher-search .avatars {
    width: 100px !important;
    height: 100px !important;
}

/*******************************************************************************
 * 老师主页
 *******************************************************************************/
.teacher-view .main-left {
    width: 280px;
}
.teacher-view .keep-left .list > ul > li  {
    height: 264px;
    padding: 35px 75px;
    margin-right: 35px;
    margin-bottom: 0;
}
.teacher-view .keep-left .avatars {
    width: 128px !important;
    height: 128px !important;
}
.teacher-view .keep-left .list .text .tuip {
    margin: 0 -75px;
}

.teacher-view .main-right {
    width: 885px;
}

.teacher-view .keep-right .teacher-des {
    padding: 20px 15px 30px;
    margin: -15px 0 15px;
}