/*
    用于模块页面样式
*/
/* 
    创建时间 : 2018-5-10, 14:10:17
    更新时间 : 2018-5-15, 13:11:00;
*/

/*******************************************************************************
 * 公共部分
 *******************************************************************************/
.content{
    padding: 0 !important;
}
.main {
    display: inline-block;
    width: 100%;
    height: auto;
    margin-top: 40px;
}
.crumbs,
.list .item,
.frame,
.teacher-view .teacher-des {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.loading-box {
    width: 100%;
    padding: 20px;
    color: #999;
    text-align: center;
}

.summary {
    float: left;
    width: 100%;
    padding: 20px 10px 0;
    color: #999;
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
    box-shadow: none;
    opacity: .65;
}
/** 左浮动 */
.keep-left {
    float: left;
}
/** 右浮动 */
.keep-right{
    float: right;
}
/*******************************************************************************
 * 面包屑
 *******************************************************************************/
.crumbs {
    width: 100%;
    height: 60px;
    padding: 0 15px;
    margin-bottom: 15px;
    font-size: 16px;
    color: #666;
    line-height: 60px;
    border-bottom: 1px solid #f2f2f2;
}

.crumbs .btngroup {
    float: right;
}

.crumbs .btngroup > a {
   border-radius: 0;
}
/*******************************************************************************
 * 列表公共部分
 *******************************************************************************/
.list .tuip-right {
    float: right;
}

.list .tuip-left {
    float: left;
}

.list .clear-margin {
    margin: 0 !important;
}

.list .tuip-btn {
    display: block;
    padding: 4px 8px;
    margin-top: -10px;
    font-size: 14px;
    color: #fff;
} 

.list .tuip-green {
    color: #339966;
}

.list .tuip-red {
    color: #ff3300;
}

.list .tuip-bg-green {
    background-color: #339966;
}

.list .tuip-bg-red {
    background-color: #ff3300;
}
/*******************************************************************************
 * 列表
 *******************************************************************************/
.list {
    display: inline-block;
    width: 100%;
}
.list .item {
    float: left;
    width: 280px;
    margin-right: 22px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.list .item.hover {
    -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
    -webkit-transform: translate3d(0, -2px, 0);
    -moz-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}

.list .item > a {
    text-decoration: none;
}

.list .item .pic {
    position: relative;
    width: 100%;
    height: 210px;
    background-color: #26bfcd; 
}

.list .item .pic > img {
    width: 100%;
    height: 100%;
}

.list .item .pic .icon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1022;
    font-size: 18px;
    border-color: #fff;
    border-width: 24px 23px;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-style: solid;
}

.list .item .pic .icon > i {
    position: absolute;
    top: -17px;
    left: -17px;
}

.list .item .pic .title {
    display: table-cell;
    height: 210px;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
}

.list .item .pic .duration {
    position: absolute;
    bottom: 2px;
    right: 2px;
    height: 20px;
    padding: 0 5px;
    color: #fff;
    text-align: center;
    line-height: 20px;
    background-color: rgba(0, 0, 0, .7);
}

.list .item .cont {
    width: 100%;
    padding: 0 10px 15px;
    border-bottom: dashed 1px #dedede;
}

.list .item .tuip {
    margin-top: 15px;
    font-size: 12px;
    color: #aaa;
    font-weight: normal;
}

.list .item .tuip-name {
    display: block;
    font-size: 14px;
    color: #666;
    font-weight: bold;
}

.list .item .speaker {
    height: 50px;
    margin: 0 10px;
}

.list .item .speaker .tuip {
    float: left;
    width: 100%;
    height: auto;
    margin-top: 0;
    line-height: 50px;
}

.list .item .avatar {
    float: left;
    width: 25px;
    height: 25px;
    margin: 12.5px 5px;
    line-height: 0;
    background-color: #26bfcd;
}

.list .item .speaker .tuip > a {
    margin: 7px 0;
    border-radius: 0;
}

.list .item .speaker .avg-star {
    display: block;
}

.list .item .speaker .preview {
    display: none;
}

/*******************************************************************************
 * 详情公共
 *******************************************************************************/
.frame {
    display: inline-block;
    width: 100%;
    margin: 30px 0 15px;
}

.frame .title {
    height: 60px;
    padding: 0 15px;
    font-size: 16px;
    color: #878787;
    text-align: left;
    line-height: 60px;
    border-bottom: 1px solid #f2f2f2;
}
/*******************************************************************************
 * 老师公共部分
 *******************************************************************************/
.teacher-search .avatars,
.teacher-view .avatars {
    position: relative;
    display: inline-block;
    padding: 2px;
    background-color: #f2f2f2 !important;
}

.teacher-search .avatars > i,
.teacher-view .avatars > i {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 30px;
    color: #ffcc01;
}
/*******************************************************************************
 * 老师搜索
 *******************************************************************************/
.teacher-search .list {
    margin-top: 15px;
}

.teacher-search .list .item {
    width: 200px;
    height: 203px;
    padding: 20px 50px;
    margin-right: 50px;
}

.teacher-search .list .cont,
.teacher-view .keep-left .list .cont {
    margin: 14px 0 0;
    text-align: center;
    font-size: 16px;
    color: #666;
    border: none;
}

.teacher-search .list .cont .tuip,
.teacher-view .keep-left .list .cont .tuip {
    font-size: 14px;
    color: #ccc;
    margin: 0 -50px;
}

.teacher-search .avatars {
    width: 100px !important;
    height: 100px !important;
}

/*******************************************************************************
 * 老师主页
 *******************************************************************************/
.teacher-view .keep-left {
    width: 280px;
}
.teacher-view .keep-left .list .item  {
    height: 264px;
    padding: 35px 75px;
    margin-right: 35px;
    margin-bottom: 0;
}
.teacher-view .keep-left .avatars {
    width: 128px !important;
    height: 128px !important;
}
.teacher-view .keep-left .list .cont .tuip {
    margin: 0 -75px;
}

.teacher-view .keep-right {
    width: 885px;
}

.teacher-view .keep-right .teacher-des {
    padding: 20px 15px 30px;
    margin: -15px 0 15px;
}

.teacher-view .keep-right .tuip-name {
    display: inline-block;
    width: 225px;
}