.header {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-top: -20px;
    margin-bottom: 20px;
}

.header > img {
    width: 100%;
}

.content {
    position: relative;
    display: inline-block;
    width: 100%;
    font-size: 0px;
}

.content > .subnav {
    display: inline-block;
    float: left;
    background-color: rgba(242, 242, 242, 1);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.content > .subnav > .menu {
    width: 200px;
    height: auto;
}

.content > .subnav > .utils {
    width: 200px;
    height: auto;
}

.content > .subnav .title {
    padding: 12px 8px;
    background-color: rgba(102, 102, 102, 1);
}

.content > .subnav .title > i {
    margin-right: 3px;
}

.content > .subnav .title > i,
.content > .subnav .title > span {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    text-align: left;
}

.content > .subnav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.content > .subnav ul > li {
    padding: 14px 15px;
    border-bottom: 1px dotted #d2d2d2;
}

.content > .subnav ul > li.remove {
    border-bottom: none;
}

.content > .subnav ul > li.active  {
    background-color: #d2d2d2;
    border-bottom: none;
}

.content > .subnav ul > li > a.links,
.content > .subnav ul > li > a.links > i {
    font-size: 16px;
    color: rgb(153, 153, 153);
    text-align: left;
}

.content > .subnav ul > li > a.links > i, 
.content > .subnav ul > li > a.links > img {
    margin-right: 10px;
}

.content > .subnav ul > li > a.links:focus,
.content > .subnav ul > li > a.links:hover {
    text-decoration: none;
}

.content > .subnav ul > li.active > a.links,
.content > .subnav ul > li.active > a.links > i {
    color: #333;
    font-weight: 700;
}

.content > .subnav > .utils > ul > li {
    padding: 25px;
    border-bottom: none;
}

.content > .subnav > .utils > ul > li.active {
    background-color: rgba(92, 184, 92, 1)
}

.content > .subnav ul > li > a.disabled,
.content > .subnav ul > li > a.disabled > i,
.content > .subnav ul > li > a.disabled > img {
    /*color: rgb(204, 204, 204);*/
    opacity: 0.5;
    pointer-events: none;
}
