/*
    用于模块页面样式
*/
/* 
    创建时间 : 2018-5-10, 14:10:17
*/

/*******************************************************************************
 * 公共部分
 *******************************************************************************/
.main {
    display: inline-block;
    float: right;  
    width: 1000px;
    height: auto;
}
.crumbs,
.form,
.list .item,
.frame {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

/*******************************************************************************
 * 面包屑
 *******************************************************************************/
.crumbs {
    width: 100%;
    height: 60px;
    padding: 0 15px;
    margin-bottom: 15px;
    font-size: 16px;
    color: #666;
    line-height: 60px;
    border-bottom: 1px solid #f2f2f2;
}

.crumbs .btngroup {
    float: right;
}

.crumbs .btngroup > a {
   border-radius: 0;
}
/*******************************************************************************
 * 表单样式
 *******************************************************************************/
.form {
    width: 100%;
}

.form.set-margin {
    margin: -15px 0 0;
    padding: 15px 0 25px;
}
/**
 *  特殊情况下的边距样式
 */
.form.set-bottom {
    padding-bottom: 110px;
}
.form.clear {
    background-color: transparent;
    box-shadow: none;
}

.form .form-horizontal .form-group{
    margin-right: 0;
    margin-left: 0;
}

.form .form-group .form-label {
    padding: 10px 0;
    color: #999;
    font-weight: bold;
}

.form .form-group .form-control,
.form .form-group .select2-selection {
    height: 40px;
    padding: 10px 24px 10px 12px;
    border-radius: 0;
    box-shadow: none;
}

.form .form-group textarea.form-control {
    height: auto
}

.form .form-group .select2-selection 
.select2-selection__arrow {
    height: 38px;
    border-left: none;
}

.form .form-group .select2-selection 
.select2-search .select2-search__field {
    height: auto;
    padding: 0;
}

.form .form-group .select2-selection 
.select2-selection__rendered
.select2-selection__choice {
    margin: 0 6px 1px 0;
}
/*******************************************************************************
 * 排序
 *******************************************************************************/
.sort {
    width: 100%;
    height: 54px;
    margin: 30px 0 35px;
    line-height: 54px;
    border-bottom: 1px solid #999;
}

.sort > ul {
    padding: 0;
    margin: 0;
}

.sort > ul > li {
    float: left;
    padding: 0 20px;
    margin-top: -2px;
}

.sort > ul > li > a {
    color: #666;
    text-decoration: none;
}

.sort > ul > li.active,
.sort > ul > li:hover {
    border-bottom: 2px solid #FC583D;
}

.sort > ul > li.active > a,
.sort > ul > li:hover > a {
    color: #FC583D;
}

/*******************************************************************************
 * 列表公共部分
 *******************************************************************************/
.list .tuip-right {
    float: right;
}

.list .tuip-left {
    float: left;
}

.list .clear-margin {
    margin: 0 !important;
}

.list .tuip-green {
    color: #339966;
}

.list .tuip-red {
    color: #ff3300;
}
/*******************************************************************************
 * 列表
 *******************************************************************************/
.list {
    width: 100%;
}
.list .item {
    float: left;
    width: 280px;
    margin-right: 80px;
    margin-bottom: 30px;
}

.list .item > a {
    text-decoration: none;
}

.list .item .pic {
    position: relative;
    width: 100%;
    height: 210px;
    background-color: #26bfcd; 
}

.list .item .pic .icon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1022;
    font-size: 18px;
    border-color: #fff;
    border-width: 24px 23px;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-style: solid;
}

.list .item .pic .icon > i {
    position: absolute;
    top: -17px;
    left: -17px;
}

.list .item .pic .title {
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    line-height: 210px;
}

.list .item .pic .duration {
    position: absolute;
    bottom: -1px;
    right: 1px;
    height: 20px;
    padding: 0 5px;
    color: #fff;
    text-align: center;
    line-height: 20px;
    background-color: rgba(0, 0, 0, .7);
}

.list .item .cont {
    width: 100%;
    padding: 0 10px 15px;
    border-bottom: dashed 1px #dedede;
}

.list .item .tuip {
    margin-top: 15px;
    font-size: 12px;
    color: #aaa;
    font-weight: normal;
}

.list .item .tuip-name {
    font-size: 14px;
    color: #666;
    font-weight: bold;
}

.list .item .tuip-nodenum {
    font-size: 12px;
    color: #aaa;
    font-weight: normal;
}

.list .item .speaker {
    height: 50px;
    margin: 0 10px;
}

.list .item .speaker .tuip {
    float: left;
    width: 100%;
    height: auto;
    margin-top: 0;
    line-height: 50px;
}

.list .item .avatar {
    float: left;
    width: 25px;
    height: 25px;
    margin: 12.5px 5px;
    line-height: 0;
    background-color: #26bfcd;
}

.list .item .speaker .score {
    display: block;
    color: #ff6600;
}

.list .item .speaker .tuip > a {
    display: none;
    margin: 8px 0;
    border-radius: 0;
}
/*******************************************************************************
 * 分页
 *******************************************************************************/
.page {
    width: 100%;
    height: auto;
}

.page.center {
    text-align: center;
}
/*******************************************************************************
 * 详情公共
 *******************************************************************************/
.frame {
    display: inline-block;
    width: 100%;
    margin: 30px 0 15px;
}

.frame.right-frame {
    float: right;
    width: 366px;
    margin-left: 15px;
}

.frame.left-frame {
    float: left;
    width: 604px;
    margin-right: 15px;
}

.frame .title {
    height: 60px;
    padding: 0 15px;
    font-size: 16px;
    color: #878787;
    text-align: left;
    line-height: 60px;
    border-bottom: 1px solid #f2f2f2;
}

.frame .title .btngroup {
    float: right;
}

.frame .title .btngroup > a {
    border-radius: 0;
}

.frame .frame-height {
    min-height: 418px;
    max-height: 418px;
    overflow-y: auto;
}

.frame .summary {
    padding: 20px 10px;
    color: #666;
}

/*******************************************************************************
 * table样式
 *******************************************************************************/
.frame .table {
    margin: -1px 0 0;
    color: #666;
    border-right: none;
    border-left: none;
}

.table .detail-th {
    width: 150px;
    height: 48px;
    color: #878787;
    font-weight: normal;
    text-align: right;
    border-left: none;
}

.table .detail-td {
    width: 454px;
    height: 48px;
    border-left: none;
}

.table .detail-des {
    height: 65px;
    display:table-cell;
    vertical-align:middle; 
}

.table > thead  > tr > th,
.table > tbody > tr > th,
.table > tbody > tr > td {
    vertical-align: middle !important;
    border-color: #e4e4e4 !important;
}
/*.frame .table.height > .actlog {
    max-height: 555px;
}*/
/*******************************************************************************
 * 模态框样式
 *******************************************************************************/
.main.modal {
    display: block;
    width: 100%;
}
.main.modal .modal-height {
    min-height: 480px;
}
/*******************************************************************************
 * 课程框架
 *******************************************************************************/
.sortable {
    padding:0;
    margin: 0;
}

.sortable li {
    margin-left: -18px;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}

.sortable li:nth-of-type(1) {
    margin-top: -1px;
}

.sortable li.disabled:hover {
    cursor: default;
}

.sortable .head {
    height: 60px;
    padding-right: 15px;
    padding-left: 30px;
    margin: 0;
    line-height: 60px;
}

.sortable .head a {
    color: #666;;
    text-align: left;
    text-decoration: none;
}

.sortable .head a > div {
    display: inline-block;
    width: 15px;
}

.sortable .head .icongroup {
    display: none;
    float: right;
}

.sortable .head:hover .icongroup{
    display: block;
}

.sortable .nodes {
    padding-left: 35px;
}

.sortable .nodes li {
    margin-top: 0;
    margin-bottom: -1px;
}

.sortable .nodes .head {
    height: 50px;
    line-height: 50px;
}

.sortable .nodes .head > a {
    color: #878787;
}

.sortable .nodes .duration{
    position: absolute;
    right: 20%;
}

/*******************************************************************************
 * 最近联系
 *******************************************************************************/
.recent {
    float: left;
    width:60px;
    height:60px;
    margin: 0 5px 5px 0;
    font-size: 12px;
    text-align: center;
    border: 1px #ccc solid;
    background-color:#fff;
}

.recent:hover {
    cursor:pointer;
}

/*.recent.active {
    border-color: #666;
    background-color:#ddd;
}*/

/*******************************************************************************
 * 我的视频
 *******************************************************************************/
.video-index .list .item .pic {
    height: 157px;
}

.video-index .list .item .pic > .title {
    line-height: 157px;
}

.video-index .list .item .cont .tuip-right {
    display: block;
    padding: 4px 8px;
    margin-top: -10px;
    font-size: 14px;
    color: #fff;
} 

.video-index .list .tuip-bg-green {
    background-color: #339966;
}

.video-index .list .tuip-bg-red {
    background-color: #ff3300;
}

/*******************************************************************************
 * 我的老师
 *******************************************************************************/
.teacher-index .list .item {
    width: 140px;
    height: 165px;
    padding: 20px;
    margin-right: 25px;
    border: 1px rgba(204, 204, 204, 1) solid;
    background-color: rgba(242, 242, 242, 1);
}

.teacher-index .list .item .pic.avatars {
    width: 96px;
    height: 96px;
}

.teacher-index .list .item .cont {
    margin: 14px 0;
    text-align: center;
    color: #333;
    background-color: transparent;
}