/* 
 *指量导入视频样式
 */

/*******************************************************************************
 * 公共样式
 *******************************************************************************/
.video-import{
    color: #666666;
}
/* 取消边框 */
.video-import .border-none{
    border: none;
}
.video-import hr{
    margin: 0px;
}
/* 标题 */
.video-import .title{
    height: 50px;
    line-height: 50px;
    color: #ccc;
    font-size: 16px;
}
/* select2 样式 */
.select2-container .select2-selection--single{
    height: 100% !important;
}

/* 上传按钮样式 */
.vk-uploader .file-box{
    height: 100% !important;
}


/*******************************************************************************
 * panel
 *******************************************************************************/

/* 面板 */
.video-import .panel{
    border: none;
    border-radius: 0px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
/* 头部 */
.video-import .panel .panel-head{
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    font-size: 16px;
    color: #333333;
    border-bottom: 1px solid #f2f2f2;
}
/* 头部 */
.video-import .panel .panel-foot{
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    font-size: 16px;
    color: #333333;
    border-top: 1px solid #f2f2f2;
}
.video-import .panel .panel-body{
    padding: 20px;
}

/*******************************************************************************
 * 公共设置
 *******************************************************************************/
.video-import .setting .setting-box {
    
}
.video-import .setting .setting-item {
   clear: both;
   margin: 20px 0;
}
.video-import .setting .setting-item .title{
    display: inline-block;
    float: left;
    height: 40px;
    line-height: 40px;
    color: #ccc;
    font-size: 14px;
}
.video-import .setting .setting-item .video-dir-box{
    display: inline-block;
}
/**
 *水印
 **/
.video-import .setting .setting-item .watermark-box{
    display: inline-block;
}
.video-import .setting .setting-item .watermark-box .watermark_ids{
    margin-bottom: 10px;
    line-height: 42px;
}
.video-import .setting .setting-item .watermark-box .video-watermark{
    position: relative;
    display: inline-block;
    width: 92px;
    height: 70px;
    margin-right: 10px;
    line-height: 70px;
    text-align: center;
    border: 1px solid #e4e4e4;
}
.video-import .setting .setting-item .watermark-box .video-watermark input{
    position: absolute;
    top: 3px;
    left: 3px;
    margin-top: 0px;
}

/*******************************************************************************
 * 视频信息上传
 *******************************************************************************/
.video-import .video-info{
    margin-bottom: 20px;
}
.video-import .video-info .title span{
    font-size: 14px;
}
.video-import .video-info .table td{
    position: relative;
    height: 80px;
    font-size: 12px;
}
.video-import .video-info .table .popover{
    width: 276px;
    overflow: hidden;
    word-break: break-all;
}
.video-import .video-info .table .c-box{
    width: 100%;
    height: 100%;
}

.video-import .video-info .table .c-box .btn{
    display: block;
}
/* 错误，成功样式 */
.video-import .video-info .error{
    color: #a94442;;
}
.video-import .video-info .success{
    color: #28B28B;
}
/* td错误显示 */
.video-import .video-info .table .border-error{
    border: solid 2px #e04f4f;
	border-radius: 6px;
}

/* 老师 */
.video-import .video-info .teacher-item-box{
    position: relative;
    text-align: left;
}
.video-import .video-info .vip{
    position: absolute;
    left: 2px;
    top: 2px;
    font-size: 18px;
    color: #ffdd2d;
    line-height: 18px;
    background-color: #000000;
    border-radius: 50%;
    padding: 2px;
}
.video-import .video-info .teacher-avatar{
    width: 64px;
    height: 64px;
}
/* 标签 */
.video-import .video-info .video-tags{
    white-space: normal;
    text-align: left;
    height: 100%;
}
.video-import .video-info .bootstrap-tagsinput{
    height: 100%;
}

/* 视频 */
.video-import .video-info .file-item-box{
    position: relative;
    display: list-item;
    text-align: left;
    height: 64px;
}
.video-import .video-info .file-item-box .thumb-box{
    position: relative;
    display: inline-block;
    text-align: center;
    float: left;
    margin-right: 5px;
}
.video-import .video-info .file-item-box .thumb-box .play-btn{
    position: absolute;
    width: 32px;
    left: 44px;
    top: 13px;
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.video-import .video-info .file-item-box .thumb-box .thumb_path{
    width: 114px;
    height: 64px;
}
.video-import .video-info .file-item-box .info-box{
    position: relative;
    display: inline-block;
    line-height: 20px;
    width: 130px;
    margin-right: -20px;
}
.video-import .video-info .file-item-box .info-box p{
    margin: 0px;
    width: 100%;
    overflow: hidden;
    word-break: break-all;
    white-space: initial;
    font-size: 12px;
}
.video-import .video-info .file-item-box .info-box .video-size{
    color: #ccc;
}

/* 状态栏 */


/*******************************************************************************
 * 视频文件上传
 *******************************************************************************/
.video-import .video-file .title{
    position: absolute;
}
.video-import .video-file .uploader-box{
    padding-top: 10px;
}


/*******************************************************************************
 * 提交按钮
 *******************************************************************************/
.video-import .submit-box{
    
}
