/*==============================================================================
 *
 * euploader 样式
 *
 *============================================================================*/
/* 根容器 */
.euploader-root {}
/* 按钮容器 */
.euploader-btns {
    padding-bottom: 5px;    /*自定义样式*/
    text-align: right;
}
/* 控制按钮 */
.euploader-ctl-btn {
    float: right;
    margin-left: 10px;
}
/* 列表父级容器 */
.euploader-list-container {
    border-top: solid 1px #ccc;
}
/* 列表 */
.euploader-list {}

/*========================================================
 *
 * 列表项样式
 *
 *======================================================*/
/* input */
.euploader-item-input {
    width: 1px;
}
/* 状态图标 */
.euploader-item-status {}
/* 文件名 */
.euploader-item-filename {
    color: #333;
}
/* 状态 */
.euploader-item-state {}
/* 文件大小 */
.euploader-item-size {}
/* 按钮 */
.euploader-item-btns {}


/* 等待状态 */
.euploader-item-waiting {}
.euploader-item-waiting .state-color {color: #ccc}

/* 上传中状态 */
.euploader-item-uploading {}
.euploader-item-uploading .state-color {color: #000}

/* 成功状态 */
.euploader-item-succeed {}
.euploader-item-succeed .state-color {color: #5cb85c}

/* 失败状态 */
.euploader-item-fail {}
.euploader-item-fail .state-color {color: #d9534f}

/* 已存状态 */
.euploader-item-exist {}
.euploader-item-exist .state-color {color: #2196f3}

/* 已上传状态 */
.euploader-item-done {}
.euploader-item-done .state-color {color: #ccc}

/*========================================================
 * 文件列表项样式
 *======================================================*/

/* 状态图标 */
.filelist-status {
    width: 30px;
}
/* 文件名 */
.filelist-filename {
    color: #333;
}
/* 状态 */
.filelist-state {
    width: 300px;
}
/* 文件大小 */
.filelist-size {
    width: 95px;
    color: #ccc;
}
/* 按钮 */
.filelist-btns {
    width: 50px;
}
/*========================================================
 * 图片列表项样式
 *======================================================*/
/* 状态图标 */
.tile-item {
    position: relative;
    display: inline-block;
    width: 128px;
    height: 128px;
    border: solid 1px #ccc;
    margin: 10px 10px 0 0;
    overflow: hidden;
}
/* 信息 */
.tile-info {
    position: absolute;
    display: inline-block;
    top:-30px;
    width: 128px;
    height: 30px;
    background: rgba(255, 255, 255, 0.9);
}

/* 状态图标 */
.tile-status {
    position: absolute;
    top: 5px;
    left: 5px;
}
/* 文件名 */
.tile-filename {
    color: #333;
}
/* 状态 */
.tile-state {
    position: absolute;
    top: 5px;
    width: 100%;
    text-align: center
}
/* 文件大小 */
.tile-size {
    color: #999;
    position: absolute;
    bottom: 0px;
    height: 30px;
    text-align: center;
    width: 128px;
    background: rgba(255, 255, 255, 0.8);
}
/* 按钮 */
.tile-btns {
     position: absolute;
     top: 5px;
     right: 5px;
 }
.tile-btns .euploader-del-btn{
    color: #d9534f;
}
/* 图片 */
.tile-img {}

/* 图片 */
.tile-playicon {
    display: inline-block;
    position: absolute;
    left: 3px;
    bottom: 0px;
}



/*==============================================================================
 *
 * webuploader 百度上传组件样式
 *
 *============================================================================*/
/* 选择文件按钮 */
.webuploader-container {
    position: relative;
    display: inline-block;
}
.webuploader-element-invisible {
    width:100%;     /*自定义样式*/
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background: #00b7ee;
    padding: 6px 12px;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    overflow: hidden;
    height: 35px;
}
.webuploader-pick-hover {
    background: #00a2d4;
}

.webuploader-pick-disable {
    opacity: 0.6;
    pointer-events:none;
}

