.header {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-top: -20px;
    margin-bottom: 20px;
}

.header > img {
    width: 100%;
}

.header.filling {
    height: 245px;
    background-image: url('/imgs/course/images/u3476_a.png');
}

.header .content.high {
    height: 245px;
}

.header .course,
.header .share {
    display: inline-block;
    padding: 0 15px;
    margin-top: 30px;
    font-size: 14px;
    color: #fff;
}

.header .share {
    float: right;
    height: 105px;
}

.header.filling .content > .iframe {
    padding: 0px 30px;
    margin-top: 75px;
    font-size: 16px;
}

.header.filling .content > .iframe  > a {
    text-decoration: none;
}

.header.filling .content > .iframe  .fave, 
.header.filling .content > .iframe  .zan {
    margin-right: 25px;
    color: #ccc;
    text-align: left;
}

.header.filling .content > .iframe  .fave > i,
.header.filling .content > .iframe  .zan > i  {
    margin-left: 10px; 
}

.header.filling .content > .iframe .fave.right {
    float: right;
}

.header.filling .content > .iframe .fave.right > i {
    margin-right: 10px; 
}

.header .course > h2,
.header .share .share-btns {
    margin: 25px 15px;
}

.header .course > p {
    margin: 0px 15px;
    font-size: 16px;
}

.content {
    position: relative;
    display: inline-block;
    width: 100%;
    font-size: 0px;
}

.content.center {
    display: block;
    width: 1200px;
    margin: 0 auto;
}
