/******************************************************************************
 *
 * 课程模块公共样式 
 *
 ******************************************************************************/


/******************************************************************************
 *
 * 课程搜索页 
 *
 ******************************************************************************/
.course-default-index{   
}
.course-default-index .container{   
    padding: 0;
}
.course-default-index .filter-label{
    display: inline-block;
    width: 100px;
    text-align: right;
    float: left;
    margin-top: 6px;
}
.course-default-index .filter-control{
    margin-left: 120px;
    width: 83%;
}
/***************************************************************
* 搜索结果 
***************************************************************/
.course-default-index .filter-result{
    background-color: #333333; 
    color: #999999;
    padding: 20px 0; 
}
.course-default-index .filter-result .filter-search{
    display: inline-block;
    border: 1px solid #444444;
    padding: 4px 8px;
    margin-right: 10px;
}
.course-default-index .filter-result .search-text{
}
.course-default-index .filter-result .search-clear{
    margin-left: 10px;
    font-weight: 700;
    font-size: 16px;
    cursor:pointer;
}
.course-default-index .filter-result .search-count{
    display: inline-block;
    margin: 6px;
}

/***************************************************************
* 搜索条件 
***************************************************************/
.course-default-index .filter-box{
    position: relative;
    background-color: #383838;
    color: #999999;
    padding: 10px 0 40px 0;
}
.course-default-index .filter-box hr{
    margin: 0;
    border-top: 1px solid #484747;
}
.course-default-index .filter-box .filter-row{
    margin: 20px 0;
}
/* 选项 */
.course-default-index .filter-box .filter-item {
    display: inline-block;
    margin: 6px 20px 6px 0;
    text-decoration: none;
    outline: none;
    color: inherit;
}
.course-default-index .filter-box .active {
    color: #FC583D;
}
/* 所属单位下拉 */
.course-default-index .filter-box .customer-downList{
    display: inline-block;
    width: 400px;
}
.course-default-index .filter-box .customer-downList .select2-selection{
    background-color: rgba(0,0,0,0);
    border: 1px solid #636363;
    border-radius: 0px;
}
.course-default-index .filter-box .customer-downList .select2-selection__rendered{
    color: #999;
}
.course-default-index .filter-box .customer-downList .select2-selection__rendered .select2-selection__clear{
    color: #999;
}
.course-default-index .filter-box .customer-downList .select2-selection__arrow{
    border-left: none;
    width: 35px;
}
/* 筛选开关 */
.course-default-index .filter-box .attr-switch{
    position: absolute;
    bottom: 0px;
    padding: 10px 20px;
    background-color: #282828;
    left: 50%;
}

/***************************************************************
* 排序
***************************************************************/
.course-default-index .content .sort{
    margin: 30px 0 40px;
}
.course-default-index .content .sort ul{
    padding: 0;
    border-bottom: 1px solid #CCCCCC;
}
.course-default-index .content .sort li{
    display: inline-block;
}
.course-default-index .content .sort li a{
    display: block;
    padding: 17px 35px;
    color: inherit;
    text-decoration: none;
}
.course-default-index .content .sort li a:hover{
    color: #FF3300;
}
.course-default-index .content .sort .active{
    border-bottom: 2px solid #FF3300;
    color: #FF3300;
    font-weight: bold;
}

/***************************************************************
* 课程列表
***************************************************************/
.course-default-index .course-list{
    margin-right: -30px;
}

/***************************************
* 课程列表项
****************************************/
.course-tile {
    display: inline-block;
    width: 280px;
    margin: 0 26px 30px 0;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.hover{
    -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
    -webkit-transform: translate3d(0, -2px, 0);
    -moz-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}

/* 图片 */
.course-tile .pic-box {
    width: 280px;
    height: 210px;
}
.course-tile .pic-box img{
    width: 100%;
    height: 100%;
}
/* 名称 */
.course-tile .name-box {
    margin: 20px 10px;
    color: #666666;
    font-weight: bold;
}
.course-tile .name-box .name{
    width: 200px;
    display: inline-block;
}
.course-tile .name-box .content-time{
    float: right;
    color: #AAAAAA;
    font-weight: normal;
    font-size: 12px;
}

/* 标签 */
.course-tile .tag-box {
    margin: 10px 10px;
    color: #AAAAAA;
    font-size: 12px;
}
.course-tile .tag-box .tag{
    width: 100%;
    display: block;
}

/* 标签 */
.course-tile .customer-box {
    margin: 10px 10px;
    color: #339966;
    font-size: 12px;
}
.course-tile .customer-box .leaning{
    float: right;
    font-size: 12px;
}
/* 底部 */
.course-tile .foot-box {
    padding: 12px 10px;
    color: #999999;
    font-size: 12px;
    border-top: 1px dotted #DEDEDE;
    line-height: 24px;
}
.course-tile .foot-box .teacher-avatar{
    width: 24px;
    height: 24px;
    border-radius:12px;
    margin-right: 5px;
}
.course-tile .foot-box .star{
    float: right;
}

/***************************************
* loading
****************************************/
.course-default-index .loading-box{
    width: 100%;
    text-align: center;
    padding: 20px;
}
/* 没有更多 */
.course-default-index .no_more{
    color: #999;
}




/******************************************************************************
 *
 * 课程查看页 
 *
 ******************************************************************************/
.course-default-view .container{
    padding: 0px;
}
/* 选择状态 */
.course-default-view .yes{
    color: #FC583D;
}
/***************************************************************
* 课程头部
***************************************************************/
.course-default-view .course-head{
    background-color: #333;
    color: #666666;
    padding-bottom: 30px;
}

/***************************************
* 导航
****************************************/
.course-default-view .course-head .course-nav{
    padding: 30px 0;
}
.course-default-view .course-head .course-nav .name{
    color: #ccc;
    font-weight: bold;
}

/***************************************
* 预览
****************************************/
.course-default-view .course-head .preview{
    display: inline-block;
    width: 660px;
    height: 350px;
    margin-right: 25px;
    background-color: #000;
}
.course-default-view .course-head .preview video{
    width: 100%;
    height: 100%;
}

/***************************************
* 课程基本信息
****************************************/
.course-default-view .course-head .info-box{
    position: relative;
    display: inline-block;
    float: right;
    width: 480px;;
    height: 350px;
    color: #ccc;
    background-color: #3c3c3c;
    font-size: 12px;
}
/* 课程名 */
.course-default-view .course-head .info-box .name-box{
    line-height: 70px;
    margin: 0 20px;
}
.course-default-view .course-head .info-box .name-box .course-name{
    color: #fff;
    font-size: 20px;
}
.course-default-view .course-head .info-box .name-box .customer-name{
    float: right;
}

/* 星星 */
.course-default-view .course-head .info-box .star-box{
    line-height: 55px;
    background-color: #444444;
    padding: 0 20px;
}
.course-default-view .course-head .info-box .star-box .avg-star{
    display: inline-block;
    margin-right: 10px;
    font-size: 18px;
}
.course-default-view .course-head .info-box .star-box .learning-count{
    float: right;
    color: #FC583D;
}

/* 节点、内容时长 */
.course-default-view .course-head .info-box .node-box{
    line-height: 55px;
    padding: 0 20px;
}
.course-default-view .course-head .info-box .node-box i{
    margin-right: 5px;
}
.course-default-view .course-head .info-box .node-box .content-time{
    float: right;
}

/* 控制按钮 */
.course-default-view .course-head .info-box .control-box{
    position: absolute;
    line-height: 44px;
    bottom: 20px;
    left: 0px;
    right: 0px;
    padding: 0px 20px;
}
.course-default-view .course-head .info-box .control-box .last_pos{
    margin-left: 10px;
    color: #999999;
    max-width: 204px;
}
.course-default-view .course-head .info-box .control-box .control{
    display: inline-block;
    float: right;
}
.course-default-view .course-head .info-box .control-box .control a{
    cursor: pointer;
    color: inherit;
}
.course-default-view .course-head .info-box .control-box .control i{
    margin-right: 5px;
    margin-left: 10px;
}

/* 分享面板 */
.course-default-view .course-head .info-box .share-panel{
    right: 0px;
    top: 351px;
}

/***************************************************************
* 内容导航
***************************************************************/
.course-default-view .content-nav{
    background-color: #333;
}
.course-default-view .content-nav-fixed{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
}
.course-default-view .content-nav .sort{
    color: #F2F2F2;
}
.course-default-view .content-nav .sort ul{
    padding: 0;
    margin: 0;
}
.course-default-view .content-nav .sort li{
    display: inline-block;
}
.course-default-view .content-nav .sort li a{
    display: block;
    padding: 17px 25px;
    color: inherit;
    text-decoration: none;
}
.course-default-view .content-nav .sort li a:hover{
    color: #FF3300;
}
.course-default-view .content-nav .sort .active{
    border-bottom: 2px solid #FF3300;
    color: #FF3300;
    font-weight: bold;
}

/***************************************************************
* 内容区
***************************************************************/
.course-default-view .content{
    margin-top: 45px;
    margin-bottom: 45px;
}
.course-default-view .panel{
    border: none;
    border-radius: 0px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.course-default-view .panel .panel-head{
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    font-size: 16px;
    color: #333333;
    border-bottom: 1px solid #f2f2f2;
}
.course-default-view .panel .panel-body{
    padding: 20px;
}
.course-default-view .left-box{
    display: inline-block;
    width: 870px;
}
.course-default-view .right-box{
    display: inline-block;
    width: 280px;
    float: right;
}
/***************************************
* 左则内容
****************************************/
.course-default-view .left-box ul{
    padding: 0;
}
.course-default-view .left-box > ul > li{
    display: none;
}
.course-default-view .left-box .active{
    display: block;
}


/***************************************
* 课程简介
****************************************/
.course-default-view .left-box .c-introduction img{
    width: 100%;
    height: 100%;
}

/***************************************
* 课程目录
****************************************/
.course-default-view .left-box .c-nodes .panel-body p{
    color: #999999;
}
/* 列表样式，不需要内边距 */
.course-default-view .left-box .c-nodes .node-list .panel-body{
    padding: 0;
}
.course-default-view .left-box .c-nodes .node-list .node{
    color: #999999;
    vertical-align: middle;
}
/* 列表项 */
.course-default-view .left-box .c-nodes .node-list .head{
    border-bottom: 1px solid #f2f2f2;
}
.course-default-view .left-box .c-nodes .node-list .control{
    display: inline-block;
    float: right;
}
.course-default-view .left-box .c-nodes .node-list .control .duration{
    display: inline-block;
    width: 45px;
}
/* 完成进度 */
.course-default-view .left-box .c-nodes .node-list .progress{
    height: 10px;
    width: 34px;
    display: inline-block;
    margin-right: 10px;
}
/* 一级头部样式 */
.course-default-view .left-box .c-nodes .node-list .level_1 .head{
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    color: #666666;
}
/* 二级头部样式 */
.course-default-view .left-box .c-nodes .node-list .level_2 .head{
    position: relative;
    height: 50px;
    line-height: 50px;
    padding: 0 40px;
    color: #999999;
}
.course-default-view .left-box .c-nodes .node-list .level_2 .head:hover{
    background-color: #F9F9F9;
}
/* 开始学习、继续学习按钮 */
.course-default-view .left-box .c-nodes .node-list .level_2 .head .play{
    display: none;
    position: absolute;
    right: 40px;
    top: 7px;
}
.course-default-view .left-box .c-nodes .node-list .level_2 .head:hover .play{
    display: block;
}

/***************************************
* 课程评论
****************************************/
.course-default-view .left-box .c-comment{}
.course-default-view .left-box .c-comment .my-comment-box .panel-body,
.course-default-view .left-box .c-comment .orther-comment .panel-body
{
    padding: 0;
}
.course-default-view .left-box .c-comment .scroe{
    
}
/*********** 创建评论容器 *************/
.course-default-view .left-box .c-comment .create-comment-box .panel-head{
    color: #999;
}
.course-default-view .left-box .c-comment .create-comment-box .user-star{
    margin-top: -5px;
}
.course-default-view .left-box .c-comment .create-comment-box .editer{
    width: 100%;
    border-color: #E4E4E4;
}
.course-default-view .left-box .c-comment .create-comment-box .input_num{
    float: right;
    color: #ccc;
}
.course-default-view .left-box .c-comment .create-comment-box .submit{
    float: right;
}
/************* 你的评论 *************/
.course-default-view .left-box .c-comment .my-comment-box {
    margin-bottom: 100px;  
}
.course-default-view .left-box .c-comment .my-comment-box .panel-head{
    color: #999;
}

/************* 评论项 *************/
.course-default-view .left-box .c-comment .comment-item {
    position: relative;
    height: 120px;
    border-bottom: 1px solid #f2f2f2;
    color: #999;
    padding: 20px 20px;
}
.course-default-view .left-box .c-comment .comment-item .avatar-box{
    text-align: center;
    float: left;
    font-size: 12px;
}
.course-default-view .left-box .c-comment .comment-item .avatar-box .avatar{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 10px 0px;
}
.course-default-view .left-box .c-comment .comment-item .comment-body {
    margin-left: 65px;
}
.course-default-view .left-box .c-comment .comment-item .comment-body .created_time{
    float: right;
    font-size: 12px;
}
.course-default-view .left-box .c-comment .comment-item .comment-body .comment-content{
    margin: 10px 0;
    color: #666;
}
.course-default-view .left-box .c-comment .comment-item .comment-body .zan_count{
    position: absolute;
    bottom: 10px;
    right: 20px;
    cursor: pointer;
}
/* 点赞 */
.course-default-view .left-box .c-comment .comment-item .comment-body .is_praise{
    color: #FC583D;
    font-weight: bold;
}
.course-default-view .left-box .c-comment .comment-item .comment-body .zan_count i{
    margin-right: 5px;
}
/* loading */
.course-default-view .left-box .c-comment .loading-box{
    padding: 20px;
    text-align: center;
}
.course-default-view .left-box .c-comment .loading-box .get-more{
    margin: 0;
}


/***************************************
* 课程评论
****************************************/
.course-default-view .left-box .c-attachment{
    
}
.course-default-view .left-box .c-attachment .panel-body{
    padding: 0;
}
.course-default-view .left-box .c-attachment .list{
    
}
.course-default-view .left-box .c-attachment .list .item{
    position: relative;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    border-bottom: 1px solid #f2f2f2;
    color: #666;
}
.course-default-view .left-box .c-attachment .list .item:hover{
    background-color: #F9F9F9;
}
.course-default-view .left-box .c-attachment .list .item .control-box{
    float: right;
    color: #999;
    margin-right: 52px;
}
.course-default-view .left-box .c-attachment .list .item .control-box .size{
    margin-right: 30px;
}
.course-default-view .left-box .c-attachment .list .item .download{
    position: absolute;
    display:none;
    right: 20px;
    top:6px;
}
.course-default-view .left-box .c-attachment .list .item:hover .download{
    display: inline-block;
}





/***************************************
* 右则内容
****************************************/
.course-default-view .right-box ul{
    padding: 0px;
    margin: 0px -20px -20px 0px;
}
.course-default-view .right-box ul li{
    display: inline-block;
    margin: 0px 8px 20px 0;
}
/* 图片封面 */
.course-default-view .right-box .course-cover{
    width: 115px;
    height: 86px;
}
.course-default-view .right-box .course-name{
    font-size: 12px;
    color: #666666;
    width: 115px;
    margin: 0;
}


/***************************************
* 主讲老师
****************************************/
.course-default-view .right-box .lecturer{
    
}
.course-default-view .right-box .lecturer .info{
    text-align: center;
}
.course-default-view .right-box .lecturer .info a{
    text-decoration:none;
    color: inherit;
}
.course-default-view .right-box .lecturer .avatar{
    width:120px;
    height:120px;
    border-radius: 50%;
}
.course-default-view .right-box .lecturer .name{
    font-size: 16px;
    margin-top: 30px;
}
.course-default-view .right-box .lecturer .job_title{
    font-size: 12px;
    color: #999999;
}
.course-default-view .right-box .lecturer hr{
    margin: 20px -20px;
}

/***************************************
* 学过该课学员
****************************************/
.course-default-view .right-box .relative-user{
    
}
.course-default-view .right-box .relative-user ul{
    position: relative;
    padding: 0px;
    margin: 0px -20px -20px 0px;
}
.course-default-view .right-box .relative-user ul li{
    display: inline-block;
    margin: 0 16px 20px 0;
}
.course-default-view .right-box .relative-user .avatar{
    width: 45px;
    height:45px;
    border-radius: 50%;
}
.course-default-view .right-box .relative-user .name{
    width: 45px;
    color: #999;
    font-size: 12px;
    text-align: center;
}
