/******************************************************************************
 *
 * 课程模块公共样式 
 *
 ******************************************************************************/


/******************************************************************************
 *
 * 课程搜索页 
 *
 ******************************************************************************/
.course-default-index{   
}
.course-default-index .container{   
    padding: 0;
}
.course-default-index .filter-label{
    display: inline-block;
    width: 100px;
    text-align: right;
    float: left;
    margin-top: 6px;
}
.course-default-index .filter-control{
    margin-left: 120px;
    width: 83%;
}
/***************************************************************
* 搜索结果 
***************************************************************/
.course-default-index .filter-result{
    background-color: #333333; 
    color: #999999;
    padding: 20px 0; 
}
.course-default-index .filter-result .filter-search{
    display: inline-block;
    border: 1px solid #444444;
    padding: 4px 8px;
    margin-right: 10px;
}
.course-default-index .filter-result .search-text{
}
.course-default-index .filter-result .search-clear{
    margin-left: 10px;
    font-weight: 700;
    font-size: 16px;
    cursor:pointer;
}
.course-default-index .filter-result .search-count{
    display: inline-block;
    margin: 6px;
}

/***************************************************************
* 搜索条件 
***************************************************************/
.course-default-index .filter-box{
    position: relative;
    background-color: #383838;
    color: #999999;
    padding: 10px 0 40px 0;
}
.course-default-index .filter-box hr{
    margin: 0;
    border-top: 1px solid #484747;
}
.course-default-index .filter-box .filter-row{
    margin: 20px 0;
}
/* 选项 */
.course-default-index .filter-box .filter-item {
    display: inline-block;
    margin: 6px 20px 6px 0;
    text-decoration: none;
    outline: none;
    color: inherit;
}
.course-default-index .filter-box .active {
    color: #FC583D;
}
/* 所属单位下拉 */
.course-default-index .filter-box .customer-downList{
    display: inline-block;
    width: 400px;
}
.course-default-index .filter-box .customer-downList .select2-selection{
    background-color: rgba(0,0,0,0);
    border: 1px solid #636363;
    border-radius: 0px;
}
.course-default-index .filter-box .customer-downList .select2-selection__rendered{
    color: #999;
}
.course-default-index .filter-box .customer-downList .select2-selection__rendered .select2-selection__clear{
    color: #999;
}
.course-default-index .filter-box .customer-downList .select2-selection__arrow{
    border-left: none;
    width: 35px;
}
/* 筛选开关 */
.course-default-index .filter-box .attr-switch{
    position: absolute;
    bottom: 0px;
    padding: 10px 20px;
    background-color: #282828;
    left: 50%;
}

/***************************************************************
* 排序
***************************************************************/
.course-default-index .content .sort{
    margin: 30px 0 40px;
}
.course-default-index .content .sort ul{
    padding: 0;
    border-bottom: 1px solid #CCCCCC;
}
.course-default-index .content .sort li{
    display: inline-block;
}
.course-default-index .content .sort li a{
    display: block;
    padding: 17px 35px;
    color: inherit;
    text-decoration: none;
}
.course-default-index .content .sort li a:hover{
    color: #FF3300;
}
.course-default-index .content .sort .active{
    border-bottom: 2px solid #FF3300;
    color: #FF3300;
    font-weight: bold;
}

/***************************************************************
* 课程列表
***************************************************************/
.course-default-index .course-list{
    margin-right: -20px;
}

/***************************************
* 课程列表项
****************************************/
.course-tile {
    display: inline-block;
    width: 280px;
    margin: 0 17px 30px 0;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.hover{
    -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
    -webkit-transform: translate3d(0, -2px, 0);
    -moz-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}

/* 图片 */
.course-tile .pic-box {
    width: 280px;
    height: 210px;
}
.course-tile .pic-box img{
    width: 100%;
    height: 100%;
}
/* 名称 */
.course-tile .name-box {
    margin: 20px 10px;
    color: #666666;
    font-weight: bold;
}
.course-tile .name-box .content-time{
    float: right;
    color: #AAAAAA;
    font-weight: normal;
    font-size: 12px;
}

/* 标签 */
.course-tile .tag-box {
    margin: 10px 10px;
    color: #AAAAAA;
    font-size: 12px;
}
.course-tile .tag-box .tag{
    width: 100%;
    display: block;
}

/* 标签 */
.course-tile .customer-box {
    margin: 10px 10px;
    color: #339966;
    font-size: 12px;
}
.course-tile .customer-box .leaning{
    float: right;
    font-size: 12px;
}
/* 底部 */
.course-tile .foot-box {
    padding: 12px 10px;
    color: #999999;
    font-size: 12px;
    border-top: 1px dotted #DEDEDE;
    line-height: 24px;
}
.course-tile .foot-box .teacher-avatar{
    width: 24px;
    height: 24px;
    border-radius:12px;
    margin-right: 5px;
}
.course-tile .foot-box .star{
    float: right;
}

/***************************************
* loading
****************************************/
.course-default-index .loading-box{
    width: 100%;
    text-align: center;
    padding: 20px;
}
/* 没有更多 */
.course-default-index .no_more{
    color: #999;
}
