/*
    用于布局页面样式
*/
/* 
    创建时间 : 2018-5-10, 14:10:17
    更新时间 : 2018-5-18, 19:00:00;
*/
/*******************************************************************************
 * 头部演示
 *******************************************************************************/
.header {
    display: inline-block;
    width: 100%;
    height: 80px;
    margin-bottom: 30px;
    background-color: #333;
}
/*******************************************************************************
 * 内容
 *******************************************************************************/
.content {
    width: 1200px !important;
    padding: 0 !important;
}
/*******************************************************************************
 * 菜单和排序
 *******************************************************************************/
.sort {
    width: 100%;
    height: 54px;
    margin: 30px 0 35px;
    line-height: 54px;
    border-bottom: 1px solid #999;
}

.sort .keep-left {
    float: left;
}

.sort .keep-right {
    float: right;
}

.sort > ul {
    padding: 0;
    margin: 0;
}

.sort > ul > li,
.sort .sort-order {
    float: left;
    margin-top: -2px;
    cursor: pointer;
}

.sort > ul > li > a,
.sort .sort-order {
    display: inline-block;
    width: 100%;
    height: 54px;
    padding: 0 20px;
    color: #666;
    line-height: 54px;
    text-decoration: none;
}

.sort .sort-order {
    width: auto;
}

.sort > ul > li.active,
.sort > ul > li:hover {
    border-bottom: 2px solid #FC583D;
}

.sort > ul > li.active > a,
.sort > ul > li:hover > a,
.sort a.sort-order.active,
.sort a.sort-order:hover {
    color: #FC583D;
}

/*******************************************************************************
 * 表单样式
 *******************************************************************************/
.form {
    width: 50%;
    margin-top: 5px;
}

.form .form-group {
    margin-bottom: 0;
}

.form .form-group .form-control {
    height: 40px;
    padding: 10px 24px 10px 12px;
    border-radius: 0;
    box-shadow: none;
}