/*
    用于模块页面样式
*/
/* 
    创建时间 : 2018-5-10, 14:10:17
    更新时间 : 2018-5-18, 19:40:00;
*/

/*******************************************************************************
 * 公共部分
 *******************************************************************************/
.main {
    display: inline-block;
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

.study_center-default-course .vk-list,
.study_center-default-video .vk-list {
    margin-right: -26px;
}

.study_center-default-course 
.vk-list .list-panel,
.study_center-default-video 
.vk-list .list-panel {
    margin-right: 26px;
}

.study_center-default-course 
.vk-list .list-header .icon,
.study_center-default-video 
.vk-list .list-header .icon {
    position: absolute;
    top: 3px;
    right: 3px;
    z-index: 1022;
    width: 18px;
    height: 18px;
    color: #fff;
    line-height: 18px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    cursor: pointer;
}

/*******************************************************************************
 * 我的任务
 *******************************************************************************/
.study_center-default-index .vk-list > ul > li{
    width: 588px;
    height: 374px;
    margin-right: 24px;
    background-image: url(../imgs/20180523140805.png);
    background-repeat: no-repeat;
}
/*******************************************************************************
 * 参与的课程
 *******************************************************************************/
.study_center-default-history .vk-list {
    margin-right: -26px;
}

.study_center-default-history 
.vk-list .list-panel {
    width: 587px;
    height: 210px;
    margin-right: 26px;
}

.study_center-default-history 
.vk-list .list-header {
    width: 280px !important;
    border-right: 1px solid #e4e4e4;
}

.study_center-default-history 
.vk-list .list-body {
    width: 307px !important;
    padding-left: 15px;
}

.study_center-default-history 
.vk-list .list-body .avatars {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.study_center-default-history 
.vk-list .progress {
    height: 4px;
    margin-top: 4px;
    margin-bottom: 6px;
}

.study_center-default-history 
.vk-list .progress-bar {
    background-color: #339966;
}

.study_center-default-history 
.vk-list .study {
    padding: 4px 20px;
    margin-top: 8px;
}

/*******************************************************************************
 * 收藏的课程
 *******************************************************************************/
.study_center-default-course
.vk-list .list-header {
    height: 210px;
}

/*******************************************************************************
 * 收藏的视频
 *******************************************************************************/
.study_center-default-video 
.vk-list .list-header {
    height: 157px;
}

.study_center-default-video  .vk-list 
.list-panel .list-header .duration {
    bottom: 2px;
    right: 2px;
}
