/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-6-25, 13:43:20
    Author     : Administrator
*/

/*******************************************************************************
 * 视频信息/播放页
 *******************************************************************************/
html, body{
    height: 100%;
}
.wrap {
    padding: 30px 0 20px !important;
}
.content {
    padding: 0 !important;
}

.main a {
    color: #333333 !important;
    text-decoration: none !important;
}

.main .video-title{
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 60px;
}

.main .video-title .keep-left {
    float: left;
}

.main .video-title .title-name{
    font-size: 16px;
    color: #28B28B;
}

.main .player {
    position: relative;
    width: 100%;
    height: 500px;
    margin-bottom: 50px;
    overflow: hidden;
    background-color: #000;
}

.main .panel {
    color: #999;
    border: none;
    border-radius: 0px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.main .panel .panel-head {
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    font-size: 16px;
    border-bottom: 1px solid #f2f2f2;
}

.main .panel .panel-body {
    padding: 20px
}

.main .panel .panel-body ul{
    padding: 0px;
    margin: 0px -20px -20px 0px;
}

.main .panel .panel-body ul li{
    display: inline-block;
    margin: 0px 8px 20px 0;
}

.main .panel .panel-body .pic{
    width: 115px;
    height: 86px;
}

.main .panel .panel-body .course-name {
    font-size: 12px;
    color: #666666;
    width: 115px;
    margin: 0;
}

.main .panel .panel-body.video {
    padding: 0px
}

.main .left-box {
    display: inline-block;
    width: 280px;
    float: left;
}

.main .left-box .info {
    text-align: center;
}

.main .left-box .name {
    font-size: 16px;
    margin-top: 30px;
}

.main .left-box .job-title {
    font-size: 12px;
    color: #666
}

.main .right-box {
    display: inline-block;
    width: 885px;
    float: right;
}

.main .right-box .panel {
    color: #666;
}

.main .table {
    margin-bottom: 0px;
    table-layout: fixed;
    color: #666;
    background-color: #ffffff;
    border-top: 2px solid rgba(255, 255, 255, 0);
    border-right: 2px solid rgba(255, 255, 255, 0);
    border-left: 2px solid rgba(255, 255, 255, 0);
}

.main .viewdetail-th {
    color: #999999;
    background-color: #ffffff;
    width: 15%;
    font-weight: normal;
    text-align: right;
    min-width: 73px;
    vertical-align: middle;
    border: 1px solid #eee;
}

.main .viewdetail-td {
    text-align: left;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #eee !important;
}

.table-striped > tbody > tr {
    height: 48px;
}

.clear-margin {
    margin: 0 !important;
}
