/**
 * 水印预览图
 */
.preview {
    position: relative;
    width: 500px;
    height: 280px;
    background-image: url(../imgs/preview-img.png);
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 100% auto !important; 
}
/**
 * 水印图的默认样式
 */
.watermark {
    position: absolute;
    z-index: 1010;
}